body{
  font-family: impact, charcol, sans-serif;
}

header{
  background-color: #34BCF7;
  
  height: 180px;
  padding: 20px 20px 20px 20px;
  border-width: 2px;
  border-color: blue;
  border-style: double;
  margin-top: 10px;
  display: grid;
  grid-template-rows: 80px 100px;

}
main{
  background-color: #34BCF7;
  height: auto;
  padding: 20px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  border-width: 2px;
  border-style: double;
  border-color: black;
  margin-top: 10px;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  border-color: blue;
  border-style: double;
}

body{
	background-color:white;
}

.centertext{
    text-align:center;
}

footer{
  background-color: #34BCF7;
  height: 40px;
  display: block;
  margin: 0 auto;
  text-align: center;
  border-width: 2px;
  border-color: blue;
  border-style: double;
}
nav{
  display: grid;
  background-color: white;
  text-align: center;


  border-width: 1px;
  border-style: double;
  border-color: black;
}
nav ul{
}
nav ul li{
  list-style: none;
  display: inline-block;
  margin-right: 20px;
  padding: 5px;
}
nav ul li a{
  color: black;
  text-decoration: none;
}
nav ul li:hover{
  background-color: #3715E1;
}

.Intro img{
    width: 300px;
    margin: 0 auto;
    display: block;
  }

.Intro{
    border-width: 2px; /* adds border on all sides */
    border-style: double;
    border-color: white;
    grid-template-rows: 1fr;
    grid-template-columns:  1fr 1fr;
    grid-column-gap: 20px;
}

.first p{
  text-align: center;
  padding-top: 40px;
}

.first {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px  #030200;

}
.first h2{
  grid-column: 1/ -1;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-gap: 20px;
  align-items: center;
  color: #000000;
  font-size: 40px;
  padding-bottom: 20px;
}

.first p{
  text-align: center;
  padding-top: 40px;
}


.first{
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px  #030200;
}

.grid1 img{
    width: 300px;
    margin: 0 auto;
    display: block;
  }

.grid1{
    border-width: 2px; /* adds border on all sides */
    border-style: double;
    border-color: white;
    grid-template-rows: 1fr;
    grid-template-columns:  1fr 1fr;
    grid-column-gap: 20px;
}

.second p{
  text-align: center;
  padding-top: 40px;
}

.second {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px  #030200;

}
.second h2{
  grid-column: 1/ -1;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-gap: 20px;
  align-items: center;
  color: #000000;
  font-size: 40px;
  padding-bottom: 20px;
}

.second p{
  text-align: center;
  padding-top: 40px;
}

.second{
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px  #030200;
}

.grid2 img{
    width: 300px;
    margin: 0 auto;
    display: block;
  }

.grid2{
    border-width: 2px; /* adds border on all sides */
    border-style: double;
    border-color: white;
    grid-template-rows: 1fr;
    grid-template-columns:  1fr 1fr;
}

.third p{
  text-align: center;
  padding-top: 40px;
}

.third {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px  #030200;

}
.third h2{
  grid-column: 1/ -1;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-gap: 20px;
  align-items: center;
  color: #000000;
  font-size: 40px;
  padding-bottom: 20px;
}

.third p{
  text-align: center;
  padding-top: 40px;
}

.third{
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px  #030200;
}

.grid3 img{
    width: 300px;
    margin: 0 auto;
    display: block;
  }

.grid3{
    border-width: 2px; /* adds border on all sides */
    border-style: double;
    border-color: white;
    grid-template-rows: 1fr;
    grid-template-columns:  1fr 1fr;
}

.fourth p{
  text-align: center;
  padding-top: 40px;
}

.fourth {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px  #030200;
}

.fourth h2{
  grid-column: 1/ -1;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-gap: 20px;
  align-items: center;
  color: #000000;
  font-size: 40px;
  padding-bottom: 20px;
}

.fourth p{
  text-align: center;
  padding-top: 40px;
}

.fourth{
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px  #030200;
}

.imageHolder img{
    width: 300px;
    margin: 0 auto;
    display: block;
}

.imageHolder{
    border-width: 2px; /* adds border on all sides */
    border-style: double;
    border-color: white;
    grid-template-rows: 1fr;
    grid-template-columns:  1fr 1fr;
    grid-column-gap: 20px;
}

.imageHolder{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
  align-items: stretch;
}

.gallery{
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px  #030200;
}

.gallery h2{
  grid-column: 1/ -1;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-gap: 20px;
  align-items: center;
  color: #000000;
  font-size: 40px;
  padding-bottom: 20px;
}

.centertext{
    text-align: center;	
}

.container {
    display: grid;
    grid-template-areas:
      "header header header"
      "nav    nav    nav"
      "article article aside"
      "footer footer footer";
}


/* MEDIA QUERIES desktop sized devices */ 
@media only screen and (min-width: 768px){
body{
	background-color: white;
}

header{
	background-color: #34BCF7;
	}

/* tablet sized devices */
@media only screen and (min-width: 500px) {

body{
  background-color: white;
  }

header{
  background-color: #34BCF7;
  }